body{
    margin:0;
   /* / box-sizing: border-box; */
    font-size: 20px;
    color:rgb(11,4,48);
}


.box
{
    width: 300px;
    margin:30px auto;
    text-align: center;
    background-color: rgb(255,255,255);
    box-sizing: border-box;
    
}



.content{
    width:90%;
    height:30px;
    border:none;
    margin:10px auto ;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    border-radius: 14px;
    background: rgb(238, 239, 240);
    margin-top: 0;
    
}

.child1{
    display:flex;
    gap:10px;
 align-items: center; 
}